body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1{
    width: 100%;
    text-align: center;
}

.Display{
    min-width: 0;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
}

.Player{
    width: auto;
}

.Computer{
    margin-left: auto;
}

.Score{
    width: 100%;
    text-align: center;
}

img{
    flex: 1 1 0;
}