body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: linear-gradient(140deg, rgb(230, 173, 143), rgb(136, 136, 177), rgb(230, 175, 175));
}

h1{
    width: 100%;
    text-align: center;
}

.Display{
    min-width: 0;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100px;
}



.Computer.Result, .Display .Player{
    width: 200px;
    text-align: center;
    font-size: 24px;
}

.Score{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 45vh;
    font-size: 60px;
}

.Picture{
    width: 80vw;
    display:flex;
    justify-content: space-around;
}

.Picture img{
    margin: 0;
    width: 200px;
    height: 200px;
}






